.dropDiv {
    position:absolute;
    top:56px;
    left:0px;

    box-sizing: border-box;
    width: 343px;
    height: 222px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    padding-top: 16px;

    background: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
}