.spinnerDiv {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 0px;
  padding-left: 1px;
}

.spinnerImg {
  width: 72px;
  height: 72px;
}

@media (prefers-reduced-motion: no-preference) {
  .spinnerImg {
    animation: spinnerImg-spin infinite 1s linear;
  }
}

@keyframes spinnerImg-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinnerText {
  position: absolute;
  left: 206px;
  bottom: 171px;

  font-size: 10px;
  color: gray
}